@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #d1d7e0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background: url(../imagens/BACK.png) fixed no-repeat;
  background-size: cover;
  font-family: "Exo 2", sans-serif;
}

body img {
  box-shadow: 2px 1px 5px #343436;
}

.tela-inicial {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  background: url(../imagens/BANNER.png) center center no-repeat;
  background-size: 100% 100%;
  box-shadow: 2px 8px 10px #373739;
}

.inicio {
  text-align: center;
  font-size: 0.8em;
  margin: 0 20px 0 20px;
  color: white;
  max-width: 1000px;
}

.botao {
  width: 100px;
  margin: 15px 0 15px 0;
  background-image: linear-gradient(to right, #142c55, #055192, #138acc);
  border: none;
  border-radius: 8px;
  padding: 5px;
  font-size: 1.2em;
  color: white;
}

.botao:hover {
  outline: 2px solid white;
}

main {
  display: none;
  opacity: 0;
  transition: opacity 0.6s ease;
  width: 70%;
  margin: 10px auto;
}
h1 {
  text-align: center;
  margin: 50px 0;
}
.sub-titulo {
  border-bottom: 1px solid white;
  margin: 15px 0;
}
.textos {
  background: rgba(8, 12, 18, 0.45);
  padding: 10px;
  border-radius: 20px;
}

.historia-conteudo1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 50px 0;
}
.historia-conteudo1 p {
  width: 90%;
  margin: 30px 0;
  font-size: 1.2em;
  text-align: justify;
}

.conteudo-imagens {
  width: 80%;
}

.conteudo1-img {
  text-align: center;
}
.c1img {
  width: 40%;
}

.historia-conteudo2,
.historia-conteudo4,
.historia-conteudo3 {
  width: 100%;
  max-width: 1000px;
  display: flex;
  gap: 15px;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 2px;
}
.historia-conteudo4 {
  height: 300px;
}

.historia-conteudo2 p,
.historia-conteudo3 p,
.historia-conteudo4 p {
  width: 40%;
  height: 100%;
  text-align: justify;
  font-size: 1.2em;
}

.historia-conteudo3 {
  flex-flow: row nowrap;
}

.historia-conteudo4 p {
  width: 70%;
}

.historia-conteudo2 img,
.historia-conteudo3 img {
  width: 60%;
  object-fit: contain;
}
.historia-conteudo4 img {
  width: 30%;
  object-fit: contain;
}

.esporte {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
.esporte p {
  margin: 30px;
  font-size: 1.2em;
}
.img-esporte {
  width: 70%;
  max-width: 1000px;
}

.cinema {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.cinema img {
  width: 80%;
  max-width: 550px;
  height: 100vh;
  max-height: 600px;
}

.cinema p {
  width: 100%;
  padding: 20px;
  text-align: justify;
}

.botoes-main {
  display: none;
}

.botoes-main.ativo {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}

.botao-voltar {
  display: none;
}

.galeria,
.titulo-galeria {
  display: none;
}

.galeria.ativo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 90%;
  margin: 0 auto;
}
.titulo-galeria.ativo {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.galeria img {
  width: 300px;
  height: 300px;
  justify-self: center;
}

.destaque {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.destaque.ativo {
  display: flex;
}

#imagem-destaque {
  max-width: 90vw;
  max-height: 80vh;
  object-fit: contain;
}

.prev,
.next {
  color: #138acc;
  background: none;
  border: none;
  font-size: 1.8em;
  transform: translateY(-50%);
  opacity: 0.8;
}

.prev {
  position: absolute;
  left: 0;
}
.next {
  position: absolute;
  right: 0;
}
.fechar {
  color: white;
  background: none;
  border: none;
  font-size: 1.8em;

  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 10000;
  cursor: pointer;
  opacity: 0.8;
  padding: 5px;
}
.fechar:hover {
  opacity: 1;
  color: #138acc;
}

@media screen and (min-width: 1000px) {

  .tela-inicial{
    opacity: 0.8;
  }

  .historia-conteudo2 p::after,
  .historia-conteudo3 p::after,
  .historia-conteudo4 p::after {
    display: none;
  }

  .galeria.ativo {
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .galeria img {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
   .tela-inicial{
    width: 100vw;
    height: 80vh;
    margin-top: 10%;
  }
  .historia-conteudo1 {
    flex-wrap: wrap;
  }
  .c1img {
    width: 90%;
  }
  .conteudo-imagens {
    width: 100%;
  }
  .historia-conteudo2,
  .historia-conteudo4,
  .historia-conteudo3 {
    flex-direction: column;
    justify-content: stretch;
  }
  .historia-conteudo2 p,
  .historia-conteudo3 p,
  .historia-conteudo4 p {
    width: 100%;
    margin: 10px;
  }
   .galeria.ativo {
    grid-template-columns: 1fr;
  }
  .galeria img {
    width: 100%;
  }

  .fechar-destaque {
    top: 10px;
    right: 15px;
    font-size: 1.5em;
  }

  .historia-conteudo2 img,
  .historia-conteudo3 img,
  .esporte img {
    width: 100%;
  }
  .historia-conteudo4 img {
    height: 45%;
    width: 60%;
  }

  .cinema,
  #esporte {
    width: 95%;
  }
  .cinema img {
    width: 100%;
    height: 50vh;
  }

  .esporte p {
    margin: 10px;
    text-align: justify;
  }
}




